<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Navigator -->
   <extension point="org.eclipse.ui.views">
      <category name="Oracle"
            id="com.oracle.oci.eclipse.plugin" />
      <view id="com.oracle.oci.eclipse.view" 
            name="Oracle Cloud Infrastructure Explorer"
            category="com.oracle.oci.eclipse.plugin"
            class="com.oracle.oci.eclipse.ui.explorer.ExplorerNavigator" 
            icon="icons/toolbar-login.png" />
   </extension>
   
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="com.oracle.oci.eclipse.view">
         <includes>
            <contentExtension isRoot="false" pattern="com.oracle.oci.eclipse.ui.explorer.compute.navigatorContent" />
            <contentExtension isRoot="false" pattern="com.oracle.oci.eclipse.ui.explorer.objectstorage.navigatorContent" />
         </includes>
      </viewerContentBinding>
   </extension>
   <!-- Object Storage -->
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent activeByDefault="true" 
	      contentProvider="com.oracle.oci.eclipse.ui.explorer.objectstorage.ObjStorageContentProvider"
	      labelProvider="com.oracle.oci.eclipse.ui.explorer.objectstorage.ObjStorageLabelProvider"
	      id="com.oracle.oci.eclipse.ui.explorer.objectstorage.navigatorContent"
	      name="Virtual content" priority="normal">
         <triggerPoints>
            <instanceof value="com.oracle.oci.eclipse.ui.explorer.RootElement" />
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="com.oracle.oci.eclipse.ui.explorer.objectstorage.StorageRootElement" />
               <instanceof value="com.oracle.bmc.objectstorage.model.BucketSummary" />
            </or>
         </possibleChildren>
         <actionProvider class="com.oracle.oci.eclipse.ui.explorer.objectstorage.BucketActionProvider"
         				 id="org.eclipse.ui.examples.navigator.properties.actions.OpenProvider">
         	<enablement>
	            <or>
	               <instanceof value="com.oracle.oci.eclipse.ui.explorer.objectstorage.StorageRootElement" />
	               <instanceof value="com.oracle.bmc.objectstorage.model.BucketSummary" />
	            </or>
           </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <!-- Object Storage Editor -->
   <extension point="org.eclipse.ui.editors">
      <editor class="com.oracle.oci.eclipse.ui.explorer.objectstorage.editor.ObjectsEditor"
           default="false"
           icon="icons/bucket.png"
           id="com.oracle.oci.eclipse.ui.explorer.objectstorage.editor.ObjectsEditor"
           name="Bucket" />
   </extension>
   <!-- Compute -->
      <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent activeByDefault="true"
	      contentProvider="com.oracle.oci.eclipse.ui.explorer.compute.ComputeContentProvider"
	      labelProvider="com.oracle.oci.eclipse.ui.explorer.compute.ComputeLabelProvider"
	      id="com.oracle.oci.eclipse.ui.explorer.compute.navigatorContent"
	      name="Virtual content" priority="normal">
         <triggerPoints>
            <instanceof value="com.oracle.oci.eclipse.ui.explorer.RootElement" />
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="com.oracle.oci.eclipse.ui.explorer.compute.ComputeRootElement" />
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <!-- Compute Editor -->
   <extension point="org.eclipse.ui.editors">
      <editor class="com.oracle.oci.eclipse.ui.explorer.compute.editor.InstanceEditor"
          default="false"
          icon="icons/compute-instance.png"
          id="com.oracle.oci.eclipse.ui.explorer.compute.editor.InstanceEditor"
          name="Bucket" />
   </extension>
   <!-- Block Storage Editor -->
   <extension point="org.eclipse.ui.editors">
      <editor class="com.oracle.oci.eclipse.ui.explorer.compute.editor.VolumeEditor"
          default="false"
          icon="icons/block-storage.png"
          id="com.oracle.oci.eclipse.ui.explorer.compute.editor.VolumeEditor"
          name="Bucket" />
   </extension>
   <!-- perspectiveExtensions -->
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view id="org.eclipse.ui.resourcePerspective.view" ratio="0.5" relationship="stack" relative="org.eclipse.ui.navigator.ProjectExplorer" visible="true" />
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view id="org.eclipse.jdt.ui.JavaPerspective.view" relative="org.eclipse.ui.views.ProblemView" relationship="right" ratio="0.5" />
      </perspectiveExtension>
   </extension>
   
   
   <!-- Toolbar and Menu -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="com.oracle.oci.eclipse.toolbars.OCIToolbar">
            <command commandId="com.oracle.oci.eclipse.commands.runWizard" 
                     icon="icons/toolbar-login.png"
                     tooltip="Oracle Cloud Infrastructure Configuration Wizard" />
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.oracle.oci.eclipse.view">
         <command
               commandId="com.oracle.oci.eclipse.commands.selectRegion"
               icon="icons/regions/us-orb.png"
               label="Oracle Cloud Infrastructure Region Selector"
               style="pulldown">
         </command>
         <command
               commandId="com.oracle.oci.eclipse.commands.selectCompartment"
               icon="icons/compartments.png"
               label="Compartment Selector"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:com.oracle.oci.eclipse.commands.selectRegion">
         <dynamic
               class="com.oracle.oci.eclipse.ui.account.RegionOptions"
               id="menu:com.oracle.oci.eclipse.commands.selectRegion">
         </dynamic>          
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:com.oracle.oci.eclipse.commands.selectCompartment">
         <dynamic
               class="com.oracle.oci.eclipse.ui.account.CompartmentOptions"
               id="menu:com.oracle.oci.eclipse.commands.selectCompartment">
         </dynamic>
      </menuContribution>
   </extension>
   
   <!-- Command id="com.oracle.oci.eclipse.commands.selectRegion.parameter" -->
   <extension point="org.eclipse.ui.commands">
      <category id="com.oracle.oci.eclipse.commands.category" name="Oracle Cloud Infrastructure Explorer" />
      <command categoryId="com.oracle.oci.eclipse.commands.category" 
      		   id="com.oracle.oci.eclipse.commands.runWizard" 
      		   name="Configuration Wizard" />		   
      <command
            categoryId="com.oracle.oci.eclipse.commands.category"
            id="com.oracle.oci.eclipse.commands.selectRegion"
            name="Select Region">
         <commandParameter
 			   id="org.eclipse.ui.commands.radioStateParameter"
               name="Region"
               optional="true">
         </commandParameter>
         <state 
         	class="org.eclipse.ui.handlers.RadioState" 
         	id="org.eclipse.ui.commands.radioState"> 
   		 </state> 
      </command>
      <command
            categoryId="com.oracle.oci.eclipse.commands.category"
            id="com.oracle.oci.eclipse.commands.selectCompartment"
            name="Select Compartment">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Compartment"
               optional="true">
         </commandParameter>
         <state 
         	class="org.eclipse.ui.handlers.RadioState" 
         	id="org.eclipse.ui.commands.radioState"> 
   		 </state> 
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="com.oracle.oci.eclipse.commands.runWizard" 
      		   class="com.oracle.oci.eclipse.ui.account.ConfigurationSetup"  />
      <handler
            class="com.oracle.oci.eclipse.ui.account.RegionSelect"
            commandId="com.oracle.oci.eclipse.commands.selectRegion">
      </handler>
      <handler
            class="com.oracle.oci.eclipse.ui.account.CompartmentSelect"
            commandId="com.oracle.oci.eclipse.commands.selectCompartment">
      </handler>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <key commandId="com.oracle.oci.eclipse.commands.runWizard" 
      	   contextId="org.eclipse.ui.contexts.window" 
      	   schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" 
      	   sequence="M1+6" />
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.oracle.oci.eclipse.ui.account.PreferencesPage"
            id="com.oracle.oci.eclipse.page.Preferences"
            name="Oracle Cloud Infrastructure Preferences">
      </page>
   </extension>
</plugin>
